
$navbar-height: 3.75rem;

.navbar-fixed {
  height: $navbar-height;
}

.content_glamour,
.sidebar__glamour {
  @media #{$min-sm} {
    height: calc(100vh - #{$navbar-height});
  }
}

.glamour__body__content {
  .card__product {
    .media {
      .media-body {
        @media #{$max-sm} {
          margin: 0;
        }
      }
    }
  }
}