
.product-item {
  overflow: hidden;
  flex: 0 1 auto;
  position: relative;
  width: 100%;
  margin: 0 auto 30px;
  border: 2px solid $color-gray;
  border-radius: 8px;
  cursor: pointer;

  @media #{$max-sm} {
    max-width: 400px;
  }

  @media #{$min-lg} {
    display: flex;
  }

  &--figure {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: $color-gray-light;

    @media #{$min-lg} {
      width: 220px;
    }
  }

  &--img {
    max-width: 100%;
    margin: auto;
  }

  &--info {
    padding: 30px 20px 40px;
  }

  &--title {
    margin: 0 0 20px;
  }

  &--description {
    p {
      &:last-of-type {
        margin: 0;
      }
    }
  }

  &--icon-select {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid $color-gray-light;
    border-radius: 50%;
    font-size: 14px;
    color: $color-gray-light;
    background: $color-white;

    @media #{$min-lg} {
      top: auto;
      bottom: 20px;
    }

    &.selected {
      border-color: $color-primary;
      color: $color-white;
      background: $color-primary;
    }
  }

  &--color {

  }
}