
.product-card {
  margin: 0 0 20px;

  &:last-of-type {
    margin: 0;
  }

  &--img {
    width: 110px;
    border-radius: 4px;

    @media #{$max-sm} {
      margin: 0 0 15px;
    }
  }

  .media {
    @media #{$max-sm} {
      display: block;
    }
  }
}