{% extends 'builder/base-sidebar.html' %}
{% load static %}

{% block content %}
    <style>
    .stripe {
        display: block;
    width: 100%;
    height: calc(1.6em + 1.21875rem);
    padding: .54688rem .875rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.6;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid #e7eaf3;
    border-radius: .3125rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    </style>

    <!-- Content -->
    <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-sm mb-2 mb-sm-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-no-gutter">
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Pages</a></li>
                            <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Account</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Billing</li>
                        </ol>
                    </nav>

                    <h1 class="page-header-title">Billing</h1>
                </div>

                <div class="col-sm-auto">
                    <a class="btn btn-primary" href="user-profile-my-profile.html">
                        <i class="tio-user mr-1"></i> My profile
                    </a>
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <div class="row justify-content-lg-center">
            <div class="col-lg-9">

                <div class="card mb-3 mb-lg-5">
                    <!-- Header -->
                    <div class="card-header">
                        <h4 class="card-header-title">Payment method</h4>
                    </div>
                    <!-- End Header -->

                    <!-- Body -->
                    <div class="card-body">
                        <div class="mb-4">
                            <p>Cards will be charged either at the end of the month or whenever your balance exceeds the usage threshold. All major credit / debit cards accepted.</p>
                        </div>

                        <!-- List Group -->
                        <ul class="list-group mb-3">
                            <!-- List Item -->
                            <li class="list-group-item">
                                <h4>Mark Williams <span class="badge badge-primary badge-pill text-uppercase ml-1">Primary</span></h4>

                                <div class="media">
                                    <img class="avatar avatar-sm avatar-4by3 mr-3" src="{% static 'frontdash/svg/brands/mastercard.svg' %}" alt="Image Description">

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-sm mb-2 mb-sm-0">
                                                <span class="d-block text-dark">MasterCard &bull;&bull;&bull;&bull; 4242</span>
                                                <small class="d-block text-muted">Checking - Expires 12/22</small>
                                            </div>

                                            <div class="col-sm-auto">
                                                <div class="d-flex justify-content-sm-end">
                                                    <a class="btn btn-xs btn-white mr-2" href="javascript:;" data-toggle="modal" data-target="#editCardModal">
                                                        <i class="tio-edit mr-1"></i> Edit
                                                    </a>

                                                    <button type="button" class="btn btn-xs btn-white">
                                                        <i class="tio-delete-outlined mr-1"></i> Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->
                                    </div>
                                </div>
                            </li>
                            <!-- End List Item -->

                            <!-- List Item -->
                            <li class="list-group-item">
                                <h4>Mark Williams <span class="text-danger ml-1">Expired</span></h4>

                                <div class="media">
                                    <img class="avatar avatar-sm avatar-4by3 mr-3" src="{% static 'frontdash/svg/brands/visa.svg' %}" alt="Image Description">

                                    <div class="media-body">
                                        <div class="row">
                                            <div class="col-sm mb-2 mb-sm-0">
                                                <span class="d-block text-dark">Visa &bull;&bull;&bull;&bull; 9016</span>
                                                <small class="d-block text-muted">Prepaid - Expires 04/20</small>
                                            </div>

                                            <div class="col-sm-auto">
                                                <div class="d-flex justify-content-sm-end">
                                                    <a class="btn btn-xs btn-white mr-2" href="javascript:;" data-toggle="modal" data-target="#editCardModal">
                                                        <i class="tio-edit mr-1"></i> Edit
                                                    </a>

                                                    <button type="button" class="btn btn-xs btn-white">
                                                        <i class="tio-delete-outlined mr-1"></i> Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Row -->
                                    </div>
                                </div>
                            </li>
                            <!-- End List Item -->
                        </ul>
                        <!-- End List Group -->

                        <div class="row">
                            <div class="col-lg-6">
                                <!-- Card -->
                                <a class="card card-dashed h-100" href="javascript:;" data-toggle="modal" data-target="#addCardModal">
                                    <div class="card-body card-body-centered card-dashed-body">
                                        <img class="avatar avatar-xl avatar-4by3 mb-2" src="{% static 'frontdash/svg/illustrations/credit-card.svg' %}" alt="Image Description">
                                        <span class="text-primary text-hover-primary">
                          <i class="tio-add"></i> Add a new card
                        </span>
                                    </div>
                                </a>
                                <!-- End Card -->
                            </div>
                        </div>
                        <!-- End Row -->
                    </div>
                    <!-- End Body -->
                </div>
                <!-- End Card -->

            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Footer -->


    <!-- Add Card Modal -->
    <div class="modal fade" id="addCardModal" tabindex="-1" role="dialog" aria-labelledby="addCardModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document" id="checkout">
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header">
                    <h4 id="addCardModalTitle" class="modal-title">Add a Credit Card</h4>

                    <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
                        <i class="tio-clear tio-lg"></i>
                    </button>
                </div>
                <!-- End Header -->

                <!-- Body -->
                <div class="modal-body">
                    <form id="payment-form" method="post" action="{% url 'billing-create' %}?next=/">
                        {% csrf_token %}
                        <!-- Button Group -->
                        <div id="card-errors" style="color:red;"></div>
                        <div class="form-group">
                            <label for="cardNameLabel" class="input-label">Name</label>
                            <input type="text" class="form-control" name="name"
                                       v-model="name" id="cardNameLabel" v-validate="'required'" placeholder="Your Name" aria-label="Your Name">
                            <span>[[ errors.first('name') ]]</span>
                        </div>
                        <!-- End Form Group -->

                        <!-- Form Group -->
                        <div class="form-group">
                            <label for="card-number-element" class="input-label">Card number</label>
                            <div id="card-number-element" class="stripe"></div>
                        </div>
                        <!-- End Form Group -->

                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Form Group -->
                                <div class="form-group">
                                    <label for="card-expiry-element" class="input-label">Expiration date</label>
                                    <div id="card-expiry-element" class="stripe"></div>
                                </div>
                                <!-- End Form Group -->
                            </div>

                            <div class="col-sm-3">
                                <!-- Form Group -->
                                <div class="form-group">
                                    <label for="card-cvc-element" class="input-label">CVC Code</label>
                                    <div id="card-cvc-element" class="stripe"></div>
                                </div>
                                <!-- End Form Group -->
                            </div>
                            <div class="col-sm-3">
                                <!-- Form Group -->
                                <div class="form-group">
                                    <label for="card-zip-element" class="input-label">Zip Code</label>
                                    <input type="text" class="form-control" v-validate="'required'" name="billing_zip" id="cardNameLabel" placeholder="Payoneer" aria-label="Payoneer" required>
                                    <span>[[ errors.first('billing_zip') ]]</span>
                                </div>
                                <!-- End Form Group -->
                            </div>
                        </div>
                        <!-- End Row -->

                        <!-- Custom Checkbox -->
                        <div class="custom-control custom-checkbox form-group">
                            <input type="checkbox" class="custom-control-input" id="makePrimaryCheckbox1">
                            <label class="custom-control-label" for="makePrimaryCheckbox1" name="primary">Make this primary card</label>
                        </div>
                        <!-- End Custom Checkbox -->

                        <div class="d-flex justify-content-end">

                            <button type=button class="btn btn-info btn-block" id="btnPay" @click="paymentPrevent"> Add Card
                            </button>
                        </div>
                    </form>
                </div>
                <!-- End Body -->
            </div>
        </div>
    </div>



    <!-- End Footer -->

{% endblock %}
{% block js %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    function getCookie(e) {
        var o = null;
        if (document.cookie && "" !== document.cookie) for (var t = document.cookie.split(";"), n = 0; n < t.length; n++) {
            var r = t[n].trim();
            if (r.substring(0, e.length + 1) === e + "=") {
                o = decodeURIComponent(r.substring(e.length + 1));
                break
            }
        }
        return o
    }

    var csrftoken = getCookie("csrftoken");
</script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vee-validate@<3.0.0"></script>

    <script>

        Vue.config.errorHandler = err => {
            console.log('Exception: ', err)
        }


        {% if request.user.is_superuser %}
            const stripe = Stripe('pk_test_3inGOjAOavYnNYkjS4fGSbu0');
        {% else %}
            const stripe = Stripe('pk_live_Y0CLRxeM8VrRp9xjWvnorXjs');
        {% endif %}
        const elements = stripe.elements();

        var cardExpiryElement;
        var cardCvcElement;
        var style = {
            base: {
                color: 'black',
                fontFamily: '"Muli", sans-serif',
                fontSize: '16px',


            }
        };
        var cardZipElement;
        var style = {
            base: {
                color: 'black',
                fontFamily: '"Muli", sans-serif',
                fontSize: '16px',


            }
        }
        card = elements.create('cardNumber', {
            style: style,
        });
        cardExpiryElement = elements.create('cardExpiry', {
            style: style,
        });

        cardCvcElement = elements.create('cardCvc', {
            style: style,
        });
        Vue.use(VeeValidate);
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#checkout',
            http: {
                headers: {
                    'X-CSRFToken': csrftoken
                }
            },
            data: {
                name: '',

            },
            mounted: function() {
                card.mount('#card-number-element');
                cardExpiryElement.mount('#card-expiry-element');
                cardCvcElement.mount('#card-cvc-element');
            },
            methods: {
                paymentPrevent: function (event) {
                    _this = this
                    this.$validator.validate().then(valid => {
                        if (valid) {
                            $("#btnPay").attr('disabled', 'disabled');
                            $('#btnPay').html('<span class="spinner-border spinner-border-sm" style="color:white;margin-right:15px" role="status" aria-hidden="true"></span>\n' +
                                'Submitting Payment...');
                            $(this).children('input[type=submit]').prop('disabled', true);

                            stripe.createToken(card).then(function (result) {
                                if (result.error) {
                                    // Inform the user if there was an error.
                                    var errorElement = document.getElementById('card-errors');
                                    errorElement.textContent = result.error.message;
                                    $("#btnPay").removeAttr('disabled');
                                    $('#btnPay').html('Pay Now');
                                    event.preventDefault();
                                    return false;

                                } else {
                                    var hiddenInput = document.createElement('input');
                                    hiddenInput.setAttribute('type', 'hidden');
                                    hiddenInput.setAttribute('name', 'stripe_token');
                                    hiddenInput.setAttribute('value', result.token.id);
                                    var form = document.getElementById('payment-form')
                                    form.appendChild(hiddenInput);

                                    document.getElementById('payment-form').submit();
                                }
                            });
                        }
                    })
                },
            }
        })

    </script>
{% endblock %}
