{% extends 'builder/base-sidebar.html' %}{% load static %}
{% block content %}

      <!-- Content -->
      <div class="content container-fluid">
        <!-- Page Header -->
        <div class="page-header">
          <div class="row align-items-end">
            <div class="col-sm mb-2 mb-sm-0">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-no-gutter">
                  <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Apps</a></li>
                  <li class="breadcrumb-item active" aria-current="page">File manager</li>
                </ol>
              </nav>

              <h1 class="page-header-title">File manager</h1>
            </div>

          </div>
          <!-- End Row -->
        </div>
        <!-- End Page Header -->

        <h2 class="h4 mb-3">Your Favorite Designs<i class="tio-help-outlined text-muted" data-toggle="tooltip" data-placement="right" title="Pinned access to files you've been working on."></i></h2>

        <!-- Pinned Access -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-5">
          <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
<div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>

            <!-- End Card -->

        </div>
        <!-- End Pinned Access -->

        <h2 class="h4 mb-3">All Designs</h2>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-5">
          <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
<div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>
            <div class="col mb-3 mb-lg-5">
            <!-- Card -->
            <section class="card card-sm card-hover-shadow h-100 text-center">
              <!-- Checkbox -->
              <div class="custom-control custom-checkbox-switch card-pinned">
                <input type="checkbox" id="starredCheckbox1" class="custom-control-input custom-checkbox-switch-input" checked>
                <label class="custom-checkbox-switch-label btn-icon btn-xs rounded-circle" for="starredCheckbox1">
                  <span class="custom-checkbox-switch-default" data-toggle="tooltip" data-placement="top" title="Pin">
                    <i class="tio-star-outlined"></i>
                  </span>
                  <span class="custom-checkbox-switch-active" data-toggle="tooltip" data-placement="top" title="Pinned">
                    <i class="tio-star"></i>
                  </span>
                </label>
              </div>
              <!-- End Checkbox -->

                  <img class="card-img-top" src="https://placehold.it/600x600" alt="Image Description">

                <span class="d-block font-size-sm text-muted mb-1">Edit this Design</span>
                <a href="#" class="btn w-75 btn-dark m-auto">Create New Order</a>

              <div class="card-footer border-top-0">
              </div>
            </section>
            <!-- End Card -->
          </div>

            <!-- End Card -->

        </div>
      </div>
      <!-- End Content -->

      <!-- Footer -->

        <div class="footer">
          <div class="row justify-content-between align-items-center">
            <div class="col">
              <p class="font-size-sm mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2020 Htmlstream.</span></p>
            </div>
            <div class="col-auto">
              <div class="d-flex justify-content-end">
                <!-- List Dot -->
                <ul class="list-inline list-separator">
                  <li class="list-inline-item">
                    <a class="list-separator-link" href="#">FAQ</a>
                  </li>

                  <li class="list-inline-item">
                    <a class="list-separator-link" href="#">License</a>
                  </li>

                  <li class="list-inline-item">
                    <!-- Keyboard Shortcuts Toggle -->
                    <div class="hs-unfold">
                      <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;"
                         data-hs-unfold-options='{
                              "target": "#keyboardShortcutsSidebar",
                              "type": "css-animation",
                              "animationIn": "fadeInRight",
                              "animationOut": "fadeOutRight",
                              "hasOverlay": true,
                              "smartPositionOff": true
                             }'>
                        <i class="tio-command-key"></i>
                      </a>
                    </div>
                    <!-- End Keyboard Shortcuts Toggle -->
                  </li>
                </ul>
                <!-- End List Dot -->
              </div>
            </div>
          </div>
        </div>



      <!-- End Footer -->

    <!-- ========== END MAIN CONTENT ========== -->
{% endblock %}
