{% extends "builder/base.html" %}
{% load static %}

{% block styles %}

    <link rel="stylesheet" href="{% static 'front/vendor/fontawesome/css/all.min.css' %}">
    <!-- CSS Design -->
    <link rel="stylesheet" media="screen" href="{% static 'design/dist/css/style.css' %}">
{% endblock %}

            {% block steps %}
            <ul class="steps__count navbar-nav flex-grow-1" style="border-bottom:none;">
                <li class="current"><a href="{% static 'mstore/glamour-design.html' %}">Design</a></li>
                <li class=""><a href="{% static 'mstore/glamour-customize.html' %}">Select Products</a></li>
                <li class=""><a href="{% static 'mstore/glamour-change.html' %}">Select Quantity</a></li>
            </ul>
            {% endblock %}
      {% block content %}

<div id="app"></div>

      {% endblock %}

{% block scripts %}
    <!-- JS Design  -->
    <script src="{% static 'design/dist/js/chunk-vendors.js' %}"></script>
    <script src="{% static 'design/dist/js/index.js' %}"></script>
{% endblock %}
