{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Default Sidebar (Classic) - Sidebar Combinations | Front - Admin &amp; Dashboard Template</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="../favicon.ico">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'frontdash/vendor/icon-set/style.css' %}">

  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'frontdash/css/theme.min.css' %}">
        <!-- Customizer styles and scripts-->
    <link rel="stylesheet" media="screen" href="{% static 'mstore/css/glamour.css' %}">

</head>
<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand-lg navbar-fixed navbar-height navbar-flush navbar-container navbar-bordered  ">
    <div class="container">
      <div class="js-mega-menu navbar-nav-wrap">
        <div class="navbar-brand-wrapper">
          <!-- Logo -->


            <a class="navbar-brand" href="../index.html" aria-label="Front">
              <img class="navbar-brand-logo" src="{% static 'frontdash/svg/logos/logo.svg' %}" alt="Logo">
            </a>

          <!-- End Logo -->
        </div>

        <!-- Secondary Content -->
        <div class="navbar-nav-wrap-content-right">
          <!-- Navbar -->
          <ul class="navbar-nav align-items-center flex-row">
            <li class="nav-item">
              <!-- Account -->
              <div class="hs-unfold">
                <a class="js-hs-unfold-invoker navbar-dropdown-account-wrapper" href="javascript:;"
                   data-hs-unfold-options='{
                     "target": "#accountNavbarDropdown",
                     "type": "css-animation"
                   }'>
                  <div class="avatar avatar-sm avatar-circle">
                    <img class="avatar-img" src="{% static 'frontdash/img/160x160/img6.jpg' %}" alt="Image Description">
                    <span class="avatar-status avatar-sm-status avatar-status-success"></span>
                  </div>
                </a>

                <div id="accountNavbarDropdown" class="hs-unfold-content dropdown-unfold dropdown-menu dropdown-menu-right navbar-dropdown-menu navbar-dropdown-account" style="width: 16rem;">
                  <div class="dropdown-item-text">
                    <div class="media align-items-center">
                      <div class="avatar avatar-sm avatar-circle mr-2">
                        <img class="avatar-img" src="{% static 'frontdash/img/160x160/img6.jpg' %}" alt="Image Description">
                      </div>
                      <div class="media-body">
                        <span class="card-title h5">Mark Williams</span>
                        <span class="card-text">mark@example.com</span>
                      </div>
                    </div>
                  </div>

                  <div class="dropdown-divider"></div>

                  <!-- Unfold -->
                  <div class="hs-unfold w-100">
                    <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;"
                       data-hs-unfold-options='{
                         "target": "#navSubmenuPagesAccountDropdown1",
                         "event": "hover"
                       }'>
                      <span class="text-truncate pr-2" title="Set status">Set status</span>
                      <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker ml-auto"></i>
                    </a>

                    <div id="navSubmenuPagesAccountDropdown1" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu">
                      <a class="dropdown-item" href="#">
                        <span class="legend-indicator bg-success mr-1"></span>
                        <span class="text-truncate pr-2" title="Available">Available</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span class="legend-indicator bg-danger mr-1"></span>
                        <span class="text-truncate pr-2" title="Busy">Busy</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span class="legend-indicator bg-warning mr-1"></span>
                        <span class="text-truncate pr-2" title="Away">Away</span>
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">
                        <span class="text-truncate pr-2" title="Reset status">Reset status</span>
                      </a>
                    </div>
                  </div>
                  <!-- End Unfold -->

                  <a class="dropdown-item" href="#">
                    <span class="text-truncate pr-2" title="Profile &amp; account">Profile &amp; account</span>
                  </a>

                  <a class="dropdown-item" href="#">
                    <span class="text-truncate pr-2" title="Settings">Settings</span>
                  </a>

                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item" href="#">
                    <div class="media align-items-center">
                      <div class="avatar avatar-sm avatar-dark avatar-circle mr-2">
                        <span class="avatar-initials">HS</span>
                      </div>
                      <div class="media-body">
                        <span class="card-title h5">Htmlstream <span class="badge badge-primary badge-pill text-uppercase ml-1">PRO</span></span>
                        <span class="card-text">hs.example.com</span>
                      </div>
                    </div>
                  </a>

                  <div class="dropdown-divider"></div>

                  <!-- Unfold -->
                  <div class="hs-unfold w-100">
                    <a class="js-hs-unfold-invoker navbar-dropdown-submenu-item dropdown-item d-flex align-items-center" href="javascript:;"
                       data-hs-unfold-options='{
                         "target": "#navSubmenuPagesAccountDropdown2",
                         "event": "hover"
                       }'>
                      <span class="text-truncate pr-2" title="Customization">Customization</span>
                      <i class="tio-chevron-right navbar-dropdown-submenu-item-invoker  ml-auto"></i>
                    </a>

                    <div id="navSubmenuPagesAccountDropdown2" class="hs-unfold-content hs-unfold-has-submenu dropdown-unfold dropdown-menu navbar-dropdown-sub-menu">
                      <a class="dropdown-item" href="#">
                        <span class="text-truncate pr-2" title="Invite people">Invite people</span>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span class="text-truncate pr-2" title="Analytics">Analytics</span>
                        <i class="tio-open-in-new"></i>
                      </a>
                      <a class="dropdown-item" href="#">
                        <span class="text-truncate pr-2" title="Customize Front">Customize Front</span>
                        <i class="tio-open-in-new"></i>
                      </a>
                    </div>
                  </div>
                  <!-- End Unfold -->

                  <a class="dropdown-item" href="#">
                    <span class="text-truncate pr-2" title="Manage team">Manage team</span>
                  </a>

                  <div class="dropdown-divider"></div>

                  <a class="dropdown-item" href="#">
                    <span class="text-truncate pr-2" title="Sign out">Sign out</span>
                  </a>
                </div>
              </div>
              <!-- End Account -->
            </li>

            <li class="nav-item">
              <!-- Toggle -->
              <button type="button" class="navbar-toggler btn btn-ghost-secondary rounded-circle" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarNavMenu" data-toggle="collapse" data-target="#navbarNavMenu">
                <i class="tio-menu-hamburger"></i>
              </button>
              <!-- End Toggle -->
            </li>
          </ul>
          <!-- End Navbar -->
        </div>
        <!-- End Secondary Content -->

        <!-- Navbar -->
        <div class="navbar-nav-wrap-content-left collapse navbar-collapse" id="navbarNavMenu">

                        <ul class="steps__count navbar-nav flex-grow-1" style="border-bottom:none;">
                <li class="visited"><a href="{% static 'mstore/glamour-design.html' %}">Design</a></li>
                <li class="visited"><a href="{% static 'mstore/glamour-customize.html' %}">Customize</a></li>
                <li class="current"><a href="{% static 'mstore/glamour-change.html' %}">Change</a></li>
            </ul>


        </div>
        <!-- End Navbar -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main">
    <!-- Content -->
<section class="glamour">
    <div class="glamour__wrapper w-100">
        <div class="step_small d-block d-sm-none">
            <span>Step 3</span>
            <p>Change</p>
        </div>
        <div class="content_glamour">
            <div class="row no-gutters w-100 h-100">
                <div class="col-xl-8 col-md-7">
                    <div class="img__glamour">
                        <img src="{% static 'mstore/img/img__shirt.png' %}" alt="" class="img-fluid">
                    </div>
                </div>
                <div class="col-xl-4 col-md-5">
                    <div class="sidebar__glamour">

                        <div class="glamour__body__content">
                            <h3 class="title__glamour">Select Your Products</h3>
                            <div class="card__product">
                                <div class="media">
                                    <div class="product__img">
                                        <img src="{% static 'mstore/img/img__pro1.png' %}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="title--product">
                                            <h3>Premium Comfort Shirt</h3>
                                            <a href="#" class="action__pro">Remove</a>
                                        </div>
                                        <div class="select__size">
                                            <div class="color__box" style="margin-top:0px;">
                                                <h4>Select Your Colors</h4>
                                                <ul class="color__list">
                                                    <li>
                                                        <div>
                                                            <input id="checkbox-0" class="checkbox-style" name="checkbox-1" type="checkbox">
                                                            <label for="checkbox-0" class="checkbox-style-3-label">
                                                                <span class="clr-grey"><img src="{% static 'mstore/img/correct.svg'%}" alt=""></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <input id="checkbox-1" class="checkbox-style" name="checkbox-1" type="checkbox">
                                                            <label for="checkbox-1" class="checkbox-style-3-label">
                                                                <span class="clr-d-brown"><img src="{% static 'mstore/img/correct.svg'%}" alt=""></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <input id="checkbox-2" class="checkbox-style" name="checkbox-1" type="checkbox">
                                                            <label for="checkbox-2" class="checkbox-style-3-label">
                                                                <span class="clr-orange"><img src="{% static 'mstore/img/correct.svg'%}" alt=""></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <input id="checkbox-3" class="checkbox-style" name="checkbox-1" type="checkbox">
                                                            <label for="checkbox-3" class="checkbox-style-3-label">
                                                                <span class="clr-l-brown"><img src="{% static 'mstore/img/correct.svg'%}" alt=""></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div>
                                                            <input id="checkbox-4" class="checkbox-style" name="checkbox-1" type="checkbox">
                                                            <label for="checkbox-4" class="checkbox-style-3-label">
                                                                <span class="clr-brown"><img src="{% static 'mstore/img/correct.svg'%}" alt=""></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="btn__holder">
                                <a href="#" class="btn btn-outline-secondary w-100"><img src="img/more.svg" alt=""> Add More Product</a>
                                <a href="#" class="btn btn-primary w-100 cta-pink">Create an Order</a>

                                <p class="note_deleivery">
                                    Guaranteed Delivery before Father's Day!

                                </p>
                            </div>
                            <div class="help__card__content">
                                <h3>Need Help?</h3>

                                <div id="accordion">
                                    <div class="card__help">
                                        <div class="card__help__header" id="headingOne">
                                            <a href="#"class="collapsed"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                <span><img src="img/tshirt__icon.svg" alt=""> Sizing Chart</span>
                                                <img src="img/next.svg" alt="" class="next__a ml-auto">
                                            </a>
                                        </div>

                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                            <div class="card__help__body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card__help">
                                        <div class="card__help__header" id="headingTwo">
                                            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <span><img src="img/tshirt__icon.svg" alt="">Product Information</span>

                                                <img src="img/next.svg" alt="" class="next__a ml-auto">
                                            </a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card__help__body">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- ========== SECONDARY CONTENTS ========== -->
  <!-- Welcome Message Modal -->
  <div class="modal fade" id="welcomeMessageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-close">
          <button type="button" class="btn btn-icon btn-sm btn-ghost-secondary" data-dismiss="modal" aria-label="Close">
            <i class="tio-clear tio-lg"></i>
          </button>
        </div>
        <!-- End Header -->

        <!-- Body -->
        <div class="modal-body p-sm-5">
          <div class="text-center">
            <div class="w-75 w-sm-50 mx-auto mb-4">
              <img class="img-fluid" src="{% static 'frontdash/svg/illustrations/graphs.svg' %}" alt="Image Description">
            </div>

            <h4 class="h1">Welcome to Front</h4>

            <p>We're happy to see you in our community.</p>
          </div>
        </div>
        <!-- End Body -->

        <!-- Footer -->
        <div class="modal-footer d-block text-center py-sm-5">
          <small class="text-cap mb-4">Trusted by the world's best teams</small>

          <div class="w-85 mx-auto">
            <div class="row justify-content-between">
              <div class="col">
                <img class="img-fluid ie-welcome-brands" src="{% static 'frontdash/svg/brands/gitlab-gray.svg' %}" alt="Image Description">
              </div>
              <div class="col">
                <img class="img-fluid ie-welcome-brands" src="{% static 'frontdash/svg/brands/fitbit-gray.svg' %}" alt="Image Description">
              </div>
              <div class="col">
                <img class="img-fluid ie-welcome-brands" src="{% static 'frontdash/svg/brands/flow-xo-gray.svg' %}" alt="Image Description">
              </div>
              <div class="col">
                <img class="img-fluid ie-welcome-brands" src="{% static 'frontdash/svg/brands/layar-gray.svg' %}" alt="Image Description">
              </div>
            </div>
          </div>
        </div>
        <!-- End Footer -->
      </div>
    </div>
  </div>
  <!-- End Welcome Message Modal -->
  <!-- ========== END SECONDARY CONTENTS ========== -->
 <!-- JS Global Compulsory  -->
  <script src="{% static 'frontdash/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'frontdash/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'frontdash/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'frontdash/vendor/hs-navbar-vertical-aside/hs-navbar-vertical-aside.min.js' %}"></script>
  <script src="{% static 'frontdash/vendor/hs-unfold/dist/hs-unfold.min.js' %}"></script>
  <script src="{% static 'frontdash/vendor/hs-form-search/dist/hs-form-search.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'frontdash/js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // INITIALIZATION OF NAVBAR VERTICAL NAVIGATION
      // =======================================================
      var sidebar = $('.js-navbar-vertical-aside').hsSideNav();


      // INITIALIZATION OF UNFOLD
      // =======================================================
      $('.js-hs-unfold-invoker').each(function () {
        var unfold = new HSUnfold($(this)).init();
      });


      // INITIALIZATION OF FORM SEARCH
      // =======================================================
      $('.js-form-search').each(function () {
        new HSFormSearch($(this)).init()
      });
    });
  </script>

  <!-- IE Support -->
  <script>
    if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{% static 'frontdash/vendor/babel-polyfill/polyfill.min.js' %}"><\/script>');
  </script>
</body>
</html>
